:root {
  --bg1: #9b59b6;
  --bg2: #3498db;
  --bg: #d7e1ec;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  font-family: "Open Sans";
}

button {
  border: none;
}

button:focus {
  outline: none;
}

/*--------------------------------------------- 
                PRELOAD
----------------------------------------------*/
#progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  -webkit-transition: 1s;
  transition: 1s;
}

#progress .r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 500px;
  padding: 10px 20px;
  margin: 0px auto;
}

#progress .r .progress__loading {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

#progress .r .progress__loading span {
  color: red;
  text-transform: uppercase;
  font-size: 30px;
}

#progress .r .progress__percent {
  text-align: center;
  margin-bottom: 5px;
}

#progress .r .progress__percent span {
  color: white;
  font-family: "Open Sans";
  font-size: 50px;
}

#progress .r .progress__bar {
  width: 1%;
  height: 5px;
  border-radius: 2.5px;
  background-color: red;
}

#progress .r .progress__person {
  margin-top: 10px;
  width: 100%;
}

#progress .r .progress__person span {
  display: block;
  width: 100%;
}

#progress .r .progress__person span i {
  font-size: 250px;
  color: white;
}

/*--------------------------------------------- 
                    HEADER
----------------------------------------------*/
.header {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  padding: 0 10%;
  border-bottom: 1px solid transparent;
  z-index: 100;
}

.header ul {
  display: inline-block;
}

.header ul li {
  margin-left: 30px;
  cursor: pointer;
}

.header ul li a {
  color: white;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.header i {
  display: none;
  color: white;
}

.header i:hover {
  cursor: pointer;
}

/* ---------- MASK -------- */
#mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#mask.hide {
  display: none;
}

#mask .mask__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  float: right;
  background-color: #fff;
}

#mask .mask__menu li {
  padding: 15px 0 15px 15%;
  margin-bottom: 10px;
}

#mask .mask__menu li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
}

#mask .mask__menu li:first-child .close {
  font-size: 20px;
  cursor: pointer;
}

#mask .mask__menu li:hover a {
  color: #16276d;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

#mask .mask__menu li a,
#mask .mask__menu li span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  color: #575757;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

/*--------------------------------------------- 
                    BANNER
----------------------------------------------*/
.banner {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg1)), to(var(--bg2)));
  background: linear-gradient(var(--bg1), var(--bg2));
  background-image: url(../imgs/particles-bg.png);
  background-size: cover;
}

.banner #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner .banner-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 100px 10% 0 10%;
}

.banner .banner-content .banner-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10% 0 5% 0;
}

.banner .banner-content .banner-text .banner__text-title {
  height: 25%;
}

.banner .banner-content .banner-text .banner__text-title h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
}

.banner .banner-content .banner-text .banner__text-des {
  height: 40%;
  margin-top: 20px;
}

.banner .banner-content .banner-text .banner__text-des p {
  color: white;
  font-size: 17px;
  line-height: 35px;
}

.banner .banner-content .banner-text .banner__text-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 50px;
  padding: 0 10px;
  border-radius: 25px;
  background-color: white;
}

.banner .banner-content .banner-text .banner__text-menu li {
  color: #909090;
  font-family: "Open Sans";
  font-weight: 300;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.banner .banner-content .banner-text .banner__text-menu li:hover {
  color: #16276d;
}

.banner .banner-content .banner-text .banner__text-menu li.selected {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.banner .banner-content .banner-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../imgs/banner1_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner-content .banner-img img {
  max-width: 70%;
  max-height: 70%;
}

/*--------------------------------------------- 
                    ABOUT-US
----------------------------------------------*/
.about-us {
  padding: 100px 10%;
}

.about-us .row-1 h2 {
  text-transform: uppercase;
  color: #16276d;
  font-family: "Arsenal", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.about-us .row-1 h2::after {
  content: "";
  display: block;
  width: 300px;
  height: 3px;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 1.5px;
  background: linear-gradient(45deg, #639ae6 25%, #c635e2 25%, #639ae6 50%, #c635e2 50%, #639ae6 75%, #c635e2 75%);
}

.about-us .row-1 > div {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .row-1 > div .r1-col1 {
  display: inline-block;
  width: 50%;
}

.about-us .row-1 > div .r1-col1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 150px;
  padding-left: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us .row-1 > div .r1-col1 > div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.5);
}

.about-us .row-1 > div .r1-col1 > div div {
  display: inline-block;
}

.about-us .row-1 > div .r1-col1 > div div h3 {
  font-size: 18px;
  color: #16276d;
  margin-bottom: 20px;
  font-weight: normal;
}

.about-us .row-1 > div .r1-col1 > div div p {
  color: #6d6d6d;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.about-us .row-1 > div .r1-col1 > div div:last-child {
  overflow: hidden;
  margin: 0 20px;
}

.about-us .row-1 > div .r1-col1 > div:nth-child(2) {
  margin-left: 150px;
}

.about-us .row-1 > div .r1-col2 {
  position: relative;
  display: inline-block;
  width: 50%;
}

.about-us .row-1 > div .r1-col2 img {
  position: absolute;
  border: 3px solid white;
  border-radius: 20%;
  -webkit-box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us .row-1 > div .r1-col2 img:first-child {
  top: 25%;
  left: 5%;
  max-width: 30%;
  max-height: 30%;
  z-index: 20;
}

.about-us .row-1 > div .r1-col2 img:nth-child(2) {
  top: 40%;
  left: 25%;
  max-width: 50%;
  max-height: 50%;
  z-index: 15;
}

.about-us .row-1 > div .r1-col2 img:last-child {
  top: 5%;
  left: 45%;
  max-width: 50%;
  max-height: 50%;
  z-index: 10;
}

.about-us .row-1 > div .r1-col2 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 25;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.about-us .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f3f7f9;
  border-radius: 20px;
  padding: 20px;
}

.about-us .row-2 .r2-col1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-us .row-2 .r2-col1 img {
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.about-us .row-2 .r2-col2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 100%;
  background-color: white;
  padding: 50px 10px;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

.about-us .row-2 .r2-col2 > * {
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 30px;
}

.about-us .row-2 .r2-col2 h2 {
  color: #16276d;
  font-size: 19px;
  font-family: "Arsenal", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.about-us .row-2 .r2-col2 h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 1.5px;
  background: linear-gradient(45deg, #639ae6 25%, #c635e2 25%, #639ae6 50%, #c635e2 50%, #639ae6 75%, #c635e2 75%);
}

.about-us .row-2 .r2-col2 h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.about-us .row-2 .r2-col2 p {
  font-size: 17px;
  color: #575757;
  line-height: 30px;
}

.about-us .row-2 .r2-col2 button {
  cursor: pointer;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  width: 140px;
  height: 40px;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#3c138f), to(#96368e));
  background: linear-gradient(to right, #3c138f, #96368e);
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-us .row-2 .r2-col2 button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------- 
                    NEWS
----------------------------------------------*/
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  padding: 0 10%;
}

.news .news-text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-top: 100px;
}

.news .news-text h2 {
  color: #16276d;
  text-transform: uppercase;
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.news .news-text h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 1.5px;
  background: linear-gradient(45deg, #639ae6 25%, #c635e2 25%, #639ae6 50%, #c635e2 50%, #639ae6 75%, #c635e2 75%);
}

.news .news-text p {
  color: #575757;
  line-height: 25px;
}

.news .news-img {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.news .news-img div {
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 40%;
  margin: 20px;
  border-radius: 20px;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.news .news-img div:nth-child(1) {
  top: 10%;
  left: 0;
  background-image: url("../imgs/news-1.png");
}

.news .news-img div:nth-child(2) {
  top: 55%;
  left: 0;
  background-image: url("../imgs/news-2.png");
}

.news .news-img div:nth-child(3) {
  top: 0;
  left: 45%;
  background-image: url("../imgs/news-3.png");
}

.news .news-img div:nth-child(4) {
  top: 45%;
  left: 45%;
  background-image: url("../imgs/news-4.png");
}

.news .news-img div:hover {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.news .news-img div:first-child:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.news .news-img div:nth-child(2):hover {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.news .news-img div:nth-child(3):hover {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.news .news-img div:nth-child(4):hover {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/*--------------------------------------------- 
                CUSTOMERS
----------------------------------------------*/
.customers {
  padding: 10px 10%;
  height: 80vh;
}

.customers .cus-title {
  display: block;
  text-align: center;
  margin: 50px 0;
  color: #16276d;
}

.customers .cus-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  margin: 5px auto;
  border-radius: 1.5px;
  background: linear-gradient(45deg, #639ae6 25%, #c635e2 25%, #639ae6 50%, #c635e2 50%, #639ae6 75%, #c635e2 75%);
}

.customers .cus-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers .cus-content > div {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  height: 80%;
  padding: 30px 10px;
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
}

.customers .cus-content > div div {
  background: #79c8fd;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
}

.customers .cus-content > div div img {
  border-radius: 50%;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.customers .cus-content > div span {
  display: block;
  margin: 10px 0 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.customers .cus-content > div p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: "Open Sans";
}

.customers .cus-content > div:hover {
  height: 80%;
  -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
}

.customers .cus-content > div:hover div {
  background: #79c8fd;
}

.customers .cus-content > div:hover div img {
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0);
}

/*--------------------------------------------- 
                FOOTER
----------------------------------------------*/
footer {
  background-color: #081132;
}

footer .footer-row1 {
  padding: 50px 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-row1 > * {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

footer .footer-row1 .row1-col1 > * {
  margin-bottom: 10px;
}

footer .footer-row1 .row1-col1 div i {
  color: white;
  margin-right: 5px;
}

footer .footer-row1 .row1-col1 div span {
  color: white;
  font-family: "Open Sans";
}

footer .footer-row1 .row1-col1 .company-name span {
  text-transform: uppercase;
}

footer .footer-row1 .row1-col1 ul {
  text-align: right;
  margin-bottom: 0;
}

footer .footer-row1 .row1-col1 ul li {
  margin-left: 5px;
}

footer .footer-row1 .row1-col1 ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

footer .footer-row1 .row1-col1 ul li a i {
  color: white;
  font-size: 25px;
}

footer .footer-row1 .row1-col2 {
  padding-left: 10%;
}

footer .footer-row1 .row1-col2 h2 {
  color: white;
  font-family: "Open Sans";
}

footer .footer-row1 .row1-col2 ul li {
  list-style: none;
  display: block;
  margin: 15px 0px;
  color: white;
  font-family: "Open Sans";
}

footer .footer-row1 .row1-col3 * {
  color: white;
  font-family: "Open Sans";
}

footer .footer-row1 .row1-col3 *:nth-child(1) {
  margin-bottom: 15px;
}

footer .footer-row2 {
  padding: 15px 10%;
}

footer .footer-row2::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-bottom: 10px;
}

footer .footer-row2 p {
  display: inline-block;
  color: white;
  font-family: "Open Sans";
}

footer .footer-row2 a {
  margin-left: 5px;
  color: #147bbf;
}

/*--------------------------------------------- 
                RESPONSIVE
----------------------------------------------*/
/* --------mobile & tablet-------- */
@media screen and (max-width: 1023px) {
  .header {
    padding: 0 5% 0 5%;
  }
  .header .logo img {
    min-width: 80%;
    min-height: 80%;
    max-width: 80%;
    max-height: 80%;
  }
  .header ul.header-links {
    display: none;
  }
  .header i {
    display: inline-block;
    font-size: 28px;
  }
  .banner .banner-content {
    padding: 10% 5%;
  }
  .banner .banner-content .banner-text {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .banner .banner-content .banner-text .banner__text-title {
    padding-top: 50px;
  }
  .banner .banner-content .banner-text .banner__text-title h2 {
    font-size: 1.2em !important;
  }
  .banner .banner-content .banner-text .banner__text-des {
    -webkit-transition: 0s;
    transition: 0s;
    width: 100%;
    margin-right: 0;
  }
  .banner .banner-content .banner-text .banner__text-des p {
    font-size: 14px;
  }
  .banner .banner-content .banner-text .banner__text-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
  }
  .banner .banner-content .banner-text .banner__text-menu li {
    width: 180px;
  }
  .banner .banner-content .banner-img {
    display: none;
  }
  .about-us .row-1 .r1-col1 > div {
    margin-bottom: 20px !important;
  }
  .about-us .row-2 {
    padding: 30px 15px !important;
  }
  .about-us .row-2 .r2-col1 {
    margin-bottom: 20px !important;
  }
}

/*  --------mobile-------- */
@media screen and (max-width: 768px) {
  #progress .progress__person span i {
    font-size: 80px !important;
  }
  .about-us {
    padding: 20px 5%;
  }
  .about-us h2 {
    font-size: 1em !important;
  }
  .about-us h2::after {
    width: 150px !important;
  }
  .about-us .row-1 div.r1-col1 {
    width: 100%;
  }
  .about-us .row-1 div.r1-col1 div {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-us .row-1 div.r1-col1 div:nth-child(2) {
    margin-left: 0px;
  }
  .about-us .row-1 div.r1-col1 div div h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .about-us .row-1 div.r1-col1 div div p {
    font-size: 12px;
  }
  .about-us .row-1 div.r1-col1 div div:first-child {
    -ms-flex-preferred-size: 20% !important;
        flex-basis: 20% !important;
  }
  .about-us .row-1 div.r1-col2 {
    background-color: red;
    display: none;
  }
  .about-us .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .about-us .row-2 .r2-col1 img {
    max-width: 100%;
    max-height: 100%;
  }
  .about-us .row-2 .r2-col2 {
    padding: 10px 0px;
    border-radius: 10px;
  }
  .about-us .row-2 .r2-col2 > * {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-us .row-2 .r2-col2 h2 {
    font-size: 14px !important;
  }
  .about-us .row-2 .r2-col2 h3 {
    font-size: 13px;
  }
  .about-us .row-2 .r2-col2 p {
    font-size: 12px;
  }
  .about-us .row-2 .r2-col2 button {
    display: block;
    margin: 0 auto;
  }
  .news {
    padding: 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .news-text {
    margin-top: 50px;
  }
  .customers {
    height: auto;
    padding: 10px 5%;
  }
  .customers .cus-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-row1 h2 {
    font-size: 18px;
  }
  footer .footer-row1 span,
  footer .footer-row1 p {
    font-size: 12px;
  }
  footer .footer-row1 .row1-col2 {
    padding-left: 0;
  }
  footer .footer-row2 p,
  footer .footer-row2 a {
    font-size: 12px;
  }
  footer .footer-row2 a {
    margin-left: 0;
  }
}

/* ----------------- TABLET ----------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 80vh !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  body > * {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .header ul.header-links {
    display: block;
  }
  .header ul.header-links li {
    margin-left: 10px !important;
  }
  .header #header__menu {
    display: none;
  }
  .banner {
    height: 55vh !important;
  }
  .banner .banner-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .banner .banner-content .banner-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .banner .banner-content .banner-text .banner__text-des {
    margin-top: 50px;
  }
  .banner .banner-content .banner-text .banner__text-menu {
    width: 50%;
    margin: 0 auto;
  }
  .banner .banner-content .banner-img {
    display: none;
  }
  .about-us .row-1 .r1-col2 img:nth-child(1) {
    top: 0 !important;
    left: 5% !important;
  }
  .about-us .row-1 .r1-col2 img:nth-child(2) {
    top: 25% !important;
    left: 45% !important;
    max-width: 40% !important;
    max-height: 40% !important;
  }
  .about-us .row-1 .r1-col2 img:nth-child(3) {
    top: 65% !important;
    left: 5% !important;
    max-width: 35% !important;
    max-height: 35% !important;
  }
  .about-us .row-2 .r2-col1 {
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
  }
  .about-us .row-2 .r2-col1 img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  .about-us .row-2 .r2-col2 {
    border-radius: 10px;
  }
  .about-us .row-2 .r2-col2 button {
    display: block;
    margin: 0 auto;
  }
  .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto !important;
    padding-bottom: 30px !important;
  }
  .news .news-img div {
    width: 30% !important;
  }
  .news .news-img div:nth-child(1) {
    left: 5% !important;
  }
  .news .news-img div:nth-child(2) {
    left: 15% !important;
  }
  .news .news-img div:nth-child(3) {
    left: 55% !important;
  }
  .news .news-img div:nth-child(4) {
    left: 55% !important;
  }
  .customers {
    height: 45vh !important;
  }
  footer .footer-row1 {
    padding: 30px 5% !important;
  }
}

/* ------------- iPhone 5s ------------- */
@media screen and (max-width: 320px) {
  .banner .banner-text .banner__text-title {
    height: 15% !important;
    padding-top: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */